html, body {
    background-color:rgb(0, 0, 0);
}

body {
    background-color: rgb(255, 255, 255);
    width: 800px;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-content: center;
    padding: 0px;
    margin: auto;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;  
    border-radius: 12px;
}

.header {
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
    padding-right: 0px;
    margin: 5px;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    box-shadow:  0px 0px 10px rgb(165, 165, 165) inset;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.name {
    color: rgb(80, 80, 80);
}

.info-adress {
    display: flex;
    flex-direction:row;
    padding-left: 0px;
    padding-right: 0px;
    
}

.info-contact {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin: 5px;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 8px;;
    color:rgb(165, 165, 165);
}

.info-contact h1 {
    padding: 0px;
    margin: 2px;
}

.info-contact a {
    text-decoration: none;
    color: rgb(165, 165, 165)
}

.info {  
    font-size: large;
    font-weight: bold;
    background-color: white;
    color: rgb(80, 80, 80);  
    border-radius: 10px;    
}

.info-block {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: rgb(245, 245, 245);
    margin: 5px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px; 
    box-shadow: 0px 0px 15px rgb(170, 170, 170) inset;  
}

.info-block h2 {
    text-indent: 20px;
}

.info-block p {
    text-indent: 0px;
}

.rodo {
    background-color: rgb(245, 245, 245);
    color: rgb(80, 80, 80);
    padding-left: 20px;
    padding-right: 20px;
    margin: 5px;
    font-size: 10px;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 15px rgb(170, 170, 170) inset;
    
}
